@import url('https://fonts.googleapis.com/css2?family=Vast+Shadow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sunflower:wght@300&family=Swanky+and+Moo+Moo&display=swap');

* {
    margin: 0;
    padding: 0;
}

.clearfix::after {
    content: '';
    display: block;
    clear: both;
}

body {
    background-color: #BAB0BA;
    background-image:
        linear-gradient(to right, rgb(146, 128, 128) 1px, transparent 1px),
        linear-gradient(to bottom, rgb(146, 128, 128) 1px, transparent 1px),
        linear-gradient(to right, gray 1px, transparent 1px),
        linear-gradient(to bottom, gray 1px, transparent 1px);

    background-size: 20px 20px, 20px 20px, 100px 100px, 100px 100px;

}

